# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.log

# C / Fortran / Java compilation artifacts
*.o
*.mod
*.class
bin/

# Environments
.env
.venv
env/
venv/
ENV/

# Operating System Files
.DS_Store
Thumbs.db
